*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    background: hsla(175, 79%, 63%, 1);

background: linear-gradient(180deg, hsla(175, 79%, 63%, 1) 17%, hsla(82, 96%, 57%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(175, 79%, 63%, 1) 17%, hsla(82, 96%, 57%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(175, 79%, 63%, 1) 17%, hsla(82, 96%, 57%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#57EBDE", endColorstr="#AEFB2A", GradientType=1 );
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}
.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
.theme-toggler.active{
    color: #333;
}
.theme-toggler.active::before{
    background-color: #fff;
}
.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}
#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover{
    transform: scale(1.1);
}
button#equal {
    height: 130px;
}
/* light theme */
.calculator{
    background-color: #fff;
}
calculator#display{
    color: #0a1e23;
}
.calculator button#clear{
    background-color: #ed9ba0;
    color: #44090d;
    font-size: 25px;
}
.calculator button.btn-number{
    background-color: #a1cde6;
    color: #000;
    font-size: 25px;
}
.calculator button.btn-operator{
    background-color: #f4c0f1;
    color: #7d257b;
    font-size: 28px;
}
.calculator button.btn-equal{
    background-color: rgba(162, 214, 77, 0.9);
    color: #ffffff;
}
/* dark theme */
.calculator.dark{
    background-color: #071115;
}
.calculator.dark #display{
    color: #f8fafd;
}
.calculator.dark button#clear {
    background-color: #4b1220;
    color: #ca8b8f;
}
.calculator.dark button.btn-number{
    background-color: #1b2f38;
    color: #f8fafb;
}
.calculator.dark button.btn-operator{
    background-color: rgba(171,251,40,0.2);
    color: rgb(86,235,223);
}
.calculator.dark button.btn-equal{
    background-color: rgb(43, 147, 138);
    color: #ffffff;
}












